<?xml version="1.0" encoding="utf-8"?>

<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxieds.chameleonminiusb">

    <!-- Strictly speaking these permissions (while also not exposing any huge external vulerabilities into the 
         app) are optional. If the Bread Company Android app developers choose to make use of the logging 
         features of actions / Chameleon Mini operations built-in to this library for sane record keeping, then 
         these must be enabled and/or granted to the running app in order to write logging files 
         (plaintext and/or XML formatted) to a public user-readable folder on the phone. If this option is 
         not needed, then safely turn these permissions off in the public code. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET" android:required="false"/>
    
    <!-- These are *EXTREMELY* important as the Chameleon Devices will not interact with the Android phone 
         over serial USB unless these permissions and intents are granted! -->
    <uses-permission android:name="com.android.example.USB_PERMISSION" android:required="true"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    
    <!-- These permissions will allow for the background USB service to bring the (externally coded) main
         Activity to the foreground and/or set off a short vibration when something significant is 
         detected over the serial USB connection, i.e., if a Chameleon device is connected or 
         unexpectedly disconnected: -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    
    <!-- These permissions are related to the background USB service run by the library 
         which scans for new and recently detached device connections: -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:description="@string/app_desc"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIcon}"
        android:defaultToDeviceProtectedStorage="true"
        android:allowBackup="true">


            <!-- Again, these are *EXTREMELY* important entries to keep in the manifest file for working USB 
                 recognition of the devices when they are hotplugged over the phone's USB port: -->
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" 
                       android:resource="@xml/usb_device_filter"/>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" 
                       android:resource="@xml/usb_device_filter"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <service android:name="ChameleonMiniUSBService"
                     android:exported="false"
                     android:hardwareAccelerated="true"
                     android:label="Chameleon Mini USB Connection Management Service" />
    
    </application>

</manifest>
